{% extends 'base.html.twig' %}

{% block title %}New Lab{% endblock %}

{% block body %}
    <h1>Create new Lab</h1>

    {{ include('lab/_form.html.twig') }}

    <a href="{{ path('lab_index') }}">back to list</a>
{% endblock %}
