.app,.container{
    height:1185px;
    /* overflow:hidden; */
}
/* 背景 */
.back-bg{
    width:100%;
    position:relative;
}
.back-bg .round-bg{
    width: 100%;
    height: 247px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(244.96deg, #A5D7FF -2.97%, #50B0FD 60%);
    position:absolute;
    /* left: -39px; */
    top: 0px;
}
/* 顶部栏 */
.top-box{
    padding-top:57px;
    z-index:1000;
}
.top-box .top-left{
    display:flex;
}
.top-box .back-logo{
    box-sizing: border-box;
    position:relative;
}
.top-box .top-left a{
    display:inline-block;
    display:flex;
    width:100%;
    margin-left:23px;
    z-index:1000;
}
.top-box .top-left .back-logo{
    width:20px;
    height:28px;
    line-height:28px;
}
.top-box .top-left .menu-name{
    width:100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align:center;
    margin-left:-28px;
    z-index:1000;
}
.top-box .top-left .menu-name div{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.top-box .back-logo .bi-chevron-left{
    transform:translate(-50%,-50%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.tool{
    width: 80%;
    height: 950px;
    background: #FFFFFF;
    box-shadow: 2px 0px 14px rgba(27, 62, 90, 0.33);
    border-radius: 10px;
    position:absolute;
    left:50%;
    transform:translate(-50%,30px);
    overflow:hidden;
}
.tool .tool-info{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B4B4B;
    margin:29px 27px 0 27px;
}
.btn{
    width:100%;
    height:30px;
    margin:50px auto;
    margin-bottom:0px;
}
.btn a{
    display:inline-block;
    width:80%;
    height:100%;
}
.btn button{
    display:inline-block;
    background: linear-gradient(180deg, #7CE0FF 0%, #4DA9FF 100%);
    border-radius: 110px;
    box-sizing: border-box;
    width:100%;
    height:30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}