{% extends 'adminweb.html.twig' %}

{% block navBar %}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">目录</a>
        </li>
        <li>
            <a href="{{ path('article_index') }}">讯息</a>
        </li>
    </ul>

{% endblock %}
