{% extends 'base.html.twig' %}
{% block body %}

{% block header %}
    {#    <script src="{{ asset('Command/jQuery/index.js') }}"></script>#}
{% endblock %}
            <div class="back-bg">
                <div class="lab-bg"></div>
            </div>
            <div class="top-box">
                <div class="top-left top">
                    <a href="{{ path('labNotice') }}">
                        <div class="back-logo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFFFFF" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg>
                        </div>
                        <div class="menu-name">1号楼101实验室
                            <div>场地预约</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="list lab-top-list">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">姓名</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">电话</label>
                        <input type="telephone" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">身份证号码</label>
                        <input type="IDcard" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">指导老师</label>
                        <input type="IDcard" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">实验课程</label>
                        <input type="IDcard" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputPassword1">预约日期</label>
                        <ul class="res-list">
                            <li>
                                2021-8-17
                            </li>
                            <li>
                                2021-8-18
                            </li>
                            <li>
                                2021-8-19
                            </li>
                            <li>
                                2021-8-20
                            </li>
                            <li>
                                2021-8-21
                            </li>
                            <li>
                                2021-8-22
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">使用日期</label>
                        <ul class="use-list">
                            <li>
                                9:00-10:00
                            </li>
                            <li>
                                10:00-11:00
                            </li>
                            <li>
                                11:00-12:00
                            </li>
                            <li>
                                12:00-13:00
                            </li>
                            <li>
                                13:00-14:00
                            </li>
                            <li>
                                14:00-15:00
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="lab-instruction" for="exampleFormControlTextarea1">说明:</label>
                        <div class="text-content">
                            <textarea class="text" style="resize:none;"></textarea>
                        </div>
                    </div>
                </form>
                <div class="btn lab-btn">
                    <a href="{{ path('labConfirm') }}">
                        <button>下一步</button>
                    </a>
                </div>
            </div>

{% endblock %}