{% extends 'browser.html.twig' %}
{% block body %}

{% block header %}

{% endblock %}

<div class="my">
    <div class="my-logo">
        <img src="Command/image/01.webp" alt="">
    </div>
    <div class="my-info">
        <div class="my-name">一只小番茄</div>
        <div class="my-id">ID:7788956</div>
    </div>
</div>
<div class="info">
    <ul class="info-list my-info-list">
        <a>
            <li>
                <div class="info-left">场地预约审批</div>
                <div class="info-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B4B4B" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </li>
        </a>
        <a>
            <li>
                <div class="info-left">设备预约审批</div>
                <div class="info-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B4B4B" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </li>
        </a>
        <a>
            <li>
                <div class="info-left">管理员信息登记</div>
                <div class="info-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B4B4B" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </li>
        </a>
        <a>
            <li>
                <a href="{{ path('article_index') }}">
                <div class="info-left">后台管理</div>
                <div class="info-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B4B4B" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
                </a>
            </li>
        </a>

    </ul>
</div>


{% endblock %}