{% extends 'adminMenu.html.twig' %}

{% block title %}New Article{% endblock %}

{% block header %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
{% endblock %}


{% block body %}
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}
